<li>
	{{name}}

	<button class="change-status" data-id="{{id}}" data-newstatus="{{complete}}">
		{{#if done}}Completed{{else}}To Do{{/if}}
	</button>


		<button class="delete-item" data-id="{{this.id}}">DELETE!</button>

</li>